.home .photo-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    min-height: 100vh;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;
    margin-top: 0;
    padding-top: 0;
}

.upper-section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.home-background {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.search-container {
    position: relative;
    width: 50%;
    max-width: 30rem;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
}

.home input[type="text"] {
    width: 100%;
    background-color: rgba(230, 230, 230, 0.9);
    border: solid 1px hsl(0, 0%, 100%);
    border-radius: 1.5rem;
    padding: 1rem 1.5rem;
    font-size: 1em;
    box-shadow: 0 4px 8px rgba(20, 20, 20, 0.2);
    position: relative;
    z-index: 2;
}

.home input[type="text"]:focus {
    background-color: rgba(250, 250, 250, 0.9);
    outline: none;
}

.search-results,
.no-results {
    display: flex;
    flex-direction: column;
    align-items: left;
    position: absolute;
    top: 100%;
    margin-top: 0.2rem;
    left: 0;
    width: 100%;
    background-color: rgba(250, 250, 250, 0.9);
}

.search-results.expanded,
.no-results {
    padding-bottom: 0.2rem;
    padding-top: 0.2rem;
    height: auto;
    width: 100%;
    border: solid 1px hsl(0, 0%, 50%);
    border-radius: 1.5rem;
    box-shadow: 0 4px 8px rgba(20, 20, 20, 0.2);
    overflow-y: auto;
    max-height: 12rem;
}

.trail-preview,
.no-results {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
}

.trail-preview:last-of-type {
    border-bottom: none;
}

.trail-preview:hover {
    color: #959595;
}

.trail-preview h2 {
    font-size: 1.2em;
    font-weight: 600;
    color: #454545;
    margin: 0;
    flex: 1;
    text-align: left;
}

.trail-preview p {
    font-size: 0.9em;
    color: #666;
    margin: 0;
    flex-shrink: 0;
    text-align: right;
}

.trail-preview h2,
.trail-preview p {
    margin: 5px 0;
}

.home-titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
    width: 100%;
    border: none;
    padding: 0.3rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



.home-trails-section,
.home-favorites-section,
.home-reports-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 1.5rem;
}


.home-trails-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(215px, 1fr));
    grid-gap: 1em;
    width: 100%;
    padding: 0;
    margin: 0;
}

.home-favorites-container {
    width: 100%;
    height: 20rem;
    overflow-x: hidden;
}

.home-favorites-container .trail-card {
    width: 100%;
    height: fit-content;
}

/* Optional: Styles to remove margin for the last card */
.trail-card:last-child {
    margin-right: 0;
}

.home-reports-section .reports-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    width: 100%;
}