.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    overflow: hidden;
    margin-top: 0;
    padding-top: 0;
}

.upper-section {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.home-background {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.search-container {
    position: relative;
    width: 50%;
    max-width: 30rem;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
}

.home input[type="text"] {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.85);
    border: solid 1px hsl(0, 0%, 50%);
    border-radius: 1.5rem;
    padding: 1rem 1.5rem;
    font-size: 1em;
    box-shadow: 0 4px 8px rgba(20, 20, 20, 0.2);
    position: relative;
    z-index: 2;
}

.home input[type="text"]:focus {
    border-color: #f9f9f9;
    outline: none;
}

.search-results {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: left;
    position: absolute;
    top: 100%;
    margin-top: 1rem;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.85);
}

.search-results.expanded {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    height: auto;
    width: 100%;
    border: solid 1px hsl(0, 0%, 50%);
    border-radius: 1.5rem;
    box-shadow: 0 4px 8px rgba(20, 20, 20, 0.2);
    overflow-y: auto;
    max-height: 12rem;
}

.trail-preview {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: solid 1px hsl(104, 10%, 80%);
    cursor: pointer;
}

.trail-preview:last-of-type {
    border-bottom: none;
}

.trail-preview:hover {
    color: #959595;
}

.trail-preview h2 {
    font-size: 1.2em;
    font-weight: 600;
    color: #454545;
    margin: 0;
    flex: 1;
    text-align: left;
}

.trail-preview p {
    font-size: 0.9em;
    color: #666;
    margin: 0;
    flex-shrink: 0;
    text-align: right;
}

.trail-preview h2,
.trail-preview p {
    margin: 5px 0;
}

.random-trails-section {
    margin-top: 3em;
    width: 100%;
    padding: 0 1.5em;
}

.random-trails-section {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 1.5rem;
}

.random-trails {
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* Adjust this based on desired alignment */
    gap: 1.5rem;
    overflow-x: hidden;
    gap: 1.5rem;
    list-style-type: none;
}

.random-trails .trail-card {
    background-color: #ffffff;
    /* Adds a background color to each trail preview for legibility */
    padding: 1rem;
    border-radius: 8px;
    /* Softens the corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Adds a subtle shadow for depth */
    display: flex;
    flex: 1 1 auto;
    /* Allows cards to grow and shrink */
    min-width: 250px;
    /* Minimum width before wrapping */
    max-width: calc(100%/3 - 2rem);
    flex-direction: column;
    cursor: default;
    /* Stacks the content vertically */
    justify-content: space-between;
    transition: transform 0.3s ease;
    /* Smooth transition for hover effect */
}

.random-trails .trail-card img {
    width: 100%;
    height: 200px;
    /* Adjust based on your preference */
    object-fit: cover;
    /* Ensures the image covers the area nicely */
}

.random-trails .trail-card h2 {
    font-size: 1.2em;
    color: #454545;
}

.random-trails .trail-card p {
    font-size: 0.9em;
    color: #666;
    margin: 0;
    /* Reset any default margins */
}

.random-trails .trail-card:hover {
    transform: translateY(-0.5rem);
    /* Lifts the card slightly on hover */
}