/* Navigation.css */
.home .nav-bar {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: #f5f5f5;
    cursor: default;
    font-size: 1.5em;
    gap: 1rem;
    z-index: 10
}

.trail-page .nav-bar,
.all-trails .nav-bar {
    cursor: default;
    right: 0;
    font-size: 1em;
    color: #f5f5f5;
    gap: 1rem;
}

.nav-link {
    text-decoration: none;
    background-color: transparent;
    outline: none;
    letter-spacing: 0.1rem;
    font-weight: 600
}

.nav-link:hover {
    color: #ffffff
}