.all-trails {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;
    padding: 0 1.5rem;
    width: 100%;
}

.trail-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.all-trails .trail-list-grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
    min-height: 200px;
}

.search-filters {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem 0;
    width: 100%;
    margin-bottom: 1rem;
}

.all-trails .search-bar {
    border: 1px solid #ddd;
    width: 40vw;
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem 1rem;
    font-size: 1em;
}

.all-trails .search-bar:focus {
    border-color: #f9f9f9;
    outline: none;
}

.intensity-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
}


.all-trails .intensity-dropdown {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
    padding-right: 2rem;
    /* Make room for the arrow */
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.all-trails .intensity-dropdown:hover,
.all-trails .intensity-dropdown:focus {
    outline: none;
    /* Removes default focus outline */
    border-color: #aaa;
    /* Darker border on hover/focus */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    /* More pronounced shadow */
    /* Slightly different background to indicate hover/focus */
}


.pagination-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.arrow {
    cursor: pointer;
    font-size: 24px;
    /* Adjust size as needed */
}

.darken {
    color: #000;
    /* Darker color for active arrows */
}

.lighten {
    color: #ccc;
    /* Lighter color for inactive arrows */
}

/* Optional: Add hover effects for clickable arrows */
.arrow.darken:hover {
    color: #555;
    /* Slightly lighter on hover for better interaction feedback */
}