.trail-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12rem;
    padding: 0 2rem;
}

.trail-information {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 1.5rem;
}

.trail-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.62rem;
}

.trail-heading h1 {
    font-size: 2.5rem;
    color: #5e5e5e;
    margin: 0;
}

.trail-heading p {
    font-size: 1.25rem;
    color: #5e5e5e;
    margin: 0;
}

.trail-stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    word-wrap: break-word;
}

.stat-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 9.3rem;
}

.stat-label {
    font-size: 0.8rem;
    color: #5e5e5e;
    font-weight: 600;
}

.stat-value {
    margin: 0;
}

.trail-content {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

.trail-visuals {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    margin-top: 1.2rem;
    max-width: 500px;
    width: 50%;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.favorite-toggle {
    position: absolute;
    top: 0rem;
    right: 0rem;
    z-index: 10;
}

.favorite-toggle button {
    background-color: transparent;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    font-size: 3rem;
    box-shadow: none;
    background-color: #f5f5f56a;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #5e5e5ede;
    border-radius: 0.5rem;
}

.trail-summary {
    display: flex;
    flex-direction: column;
    width: 50%;
    font-size: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.dogs-pass {
    display: flex;
    gap: 2rem;
    margin-bottom: 0.5rem;

}

.dogs-pass p {
    margin: 0;
    font-weight: 600;
}

.trailpage-reports-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 1.5rem 0;
    padding: 1rem, 0;
}

.trailpage-reports-section h2 {
    font-size: 1.5rem;
    color: #5e5e5e;
    margin: 0;
}

.new-report-button {
    width: fit-content;
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    font-size: 1em;
    background-color: #5e5e5e;
    color: #f5f5f5;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.trailpage-reports-section .reports-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
}

@media (max-width: 48rem) {

    .trail-page {
        margin-top: 4rem;
        background-color: #f5f5f5;
    }

    .trail-heading {
        margin-top: 4rem;
        word-wrap: break-word;
        text-align: center;
    }

    .trail-heading h1 {
        font-size: 2rem;
    }

    .trail-heading p {
        font-size: 1rem;
    }

    .trail-information {
        flex-direction: column;
        align-items: center;
    }

    .trail-stats {
        justify-content: space-evenly;
        font-size: 0.9rem;
    }

    .stat-item {
        align-items: center;
        margin-bottom: 0.5rem;
    }

    .trail-content {
        flex-direction: column;
        align-items: center;
    }

    .favorite-toggle button {
        font-size: 2rem;
    }

    .trail-visuals,
    .trail-summary {
        width: 100%;
    }

    .trail-summary {
        margin-top: 1rem;
        font-size: 0.9rem;
    }

    .dogs-pass {
        flex-direction: column;
        align-items: center;
    }

    .dogs-pass p {
        font-size: 0.9rem;
    }

}